.Image {
  width: 30em;
  height: 20em;
  border-radius: 5%;
}

#Logo {
  height: 4em;
  width: 10em;
}
* {
  box-sizing: border-box;
  margin: 0;
}
#header {
  background-color: rgb(247, 98, 5);
  text-align: center;
  padding: 2em 0;
  margin-bottom: 2em;
}
#footer {
  background-color: rgb(247, 98, 5);
  text-align: center;
  color: white;
  padding: 3em;
}
#dragon-ball {
  height: 4em;
  width: 4em;
}

#dragon-ball-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

#collect-dragon-ball {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#shenron {
  height: 25em;
  width: 20em;
}

#shenron-summon {
  text-align: center;
}

#collect-and-summon-shenron {
  display: flex;
  flex-direction: column-reverse;
}
