img {
  width: 30em;
  height: 20em;
  border-radius: 5%;
}

@media screen and (width >= 600px) {
  img {
    width: 45em;
    height: 35em;
    border-radius: 5%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}
#header {
  background-color: rgb(247, 98, 5);
  text-align: center;
  padding: 2em 0;
}
#footer {
  background-color: rgb(247, 98, 5);
  text-align: center;
}
#dragon-ball {
  height: 4em;
  width: 4em;
}

#dragon-ball-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

#collect-dragon-ball {
  display: flex;
  justify-content: center;
  gap: 2em;
}

#shenron {
  height: 25m;
  width: 20em;
}

#shenron-summon {
  text-align: center;
}

#collect-and-summon-shenron {
  display: flex;
  flex-direction: column-reverse;
}