* {
  box-sizing: border-box;
  margin: 0;
}
#header {
  background-color: rgb(247, 98, 5);
  text-align: center;
  padding: 2em 0;
}
#footer {
  background-color: rgb(247, 98, 5);
  text-align: center;
}
